* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1.15em;
}

.resume-section {
    width: 60%;
    margin: 02% 20%;
    /* background-color: darksalmon; */
    height: 100%;
    border: gray solid 5px;
    border-radius: 5px;
    background: rgba(183, 241, 195, 0.39);
}

.underline {
    text-decoration: underline;
    background-color: #00b1d463;
    margin-right: 5%;
}

.underline:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
    text-align: center;
}

.mailing-address .underline {
    background: none !important
}

header {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 2.3em;
    background: bisque;
    color: cadetblue;
    /* background-color: aquamarine; */
}

.container {
    width: 100%;
    margin: 2% 2%;
}

.address-pic {
    width: 100%;
    float: left;
}

.mailing-address {
    /* background-color: burlywood; */
    width: 45%;
    float: left;
}

.informations {
    line-height: 1.6;
}

.picture {
    width: 45%;
    /* background-color: darkcyan; */
    float: left;
}

.picture img:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}

.carrer-objective,
.work-experience,
.vendor-certification,
.idb-course,
.techno-competence,
.academic-qualification,
.lang-skill,
.working-attitude,
.project-details,.reference,.declaration {
    width: 100%;
    overflow: hidden;
}

table {
    width: 95%;
}

table,
th,
td {
    border: gray solid 2px;
    border-collapse: collapse;
    border-spacing: 10px;
}


.idb-course td:first-child,
.idb-course td:last-child {
    text-align: center;
}

.vendor-certification td:nth-child(2),
.idb-course td:nth-child(2),
.techno-competence td {
    padding-left: 5px;
    color: brown;
}

.vendor-certification tr:first-child,
.idb-course tr:first-child {
    background-color: brown;
    color: white;
}

.pagination {
    display: inline-block;
    padding: 0px 2%;
}

.page a {
    margin-right: 5px;
    padding: 0px 10px;
    border: blueviolet solid 2px;
    border-radius: 5px;
}

.academic-qualification th {
    background-color: brown;
    color: white;
}

.academic-qualification th,
td {
    padding: 0px 5px;
}

.lang-skill div ul,.working-attitude div ul,.signature {
    margin-left: 2%;
}

.work-experience table,
.work-experience table td {
    border: none
}
.Projects tr:nth-child(-n+7) td:nth-child(2){
color: red;
}
.vendor-certification img{
    width: 100px;
    height: 100px;
}
.signature img{
    width: 20%;
    height: 40px;
}
.vendor-certification tr:hover,.idb-course tr:hover{
    background-color: coral;
}


/* for loader*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }